@plugin "daisyui" {
  themes: e3da-light --default, e3da-dark;
}

@plugin "daisyui/theme" {
  name: "e3da-light";
  color-scheme: light;
  --radius-selector: 0.375rem;
  --radius-field: 0.375rem;
  --radius-box: 0.375rem;
  --color-base-100: #ffffff;
  --color-base-200: #f3f6fc;
  --color-base-300: #d6deef;
  --color-base-content: #1e1e1e;
  --color-primary: #2776b9;
  --color-primary-content: #ffffff;
  --color-secondary: #087a38;
  --color-secondary-content: #ffffff;
  --color-accent: #26326d;
  --color-accent-content: #ffffff;
  --color-neutral: #26326d;
  --color-neutral-content: #ffffff;
  --color-info: #2776b9;
  --color-success: #087a38;
  --color-success-content: #ffffff;
  --color-warning: #a96b16;
  --color-warning-content: #ffffff;
  --color-error: #b33c4a;
  --color-error-content: #ffffff;
}

@plugin "daisyui/theme" {
  name: "e3da-dark";
  color-scheme: dark;
  --radius-selector: 0.375rem;
  --radius-field: 0.375rem;
  --radius-box: 0.375rem;
  --color-base-100: #171426;
  --color-base-200: #211b38;
  --color-base-300: #382e57;
  --color-base-content: #f4f7ff;
  --color-primary: #44398d;
  --color-primary-content: #f4f1ff;
  --color-secondary: #176b4b;
  --color-secondary-content: #f6f2ff;
  --color-accent: #2b1d52;
  --color-accent-content: #f4f1ff;
  --color-neutral: #0f0c19;
  --color-neutral-content: #f6f2ff;
  --color-info: #77b9e8;
  --color-success: #65c79b;
  --color-success-content: #171426;
  --color-warning: #f2c66d;
  --color-warning-content: #171426;
  --color-error: #f48b8b;
  --color-error-content: #171426;
}
